.about {
    background-image: url('../img/bgAboutCompany.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    padding: 25px 0px 45px;
    .about__inner {
        max-width: 545px;
        .about__title {
            color: $color1;
            font-weight: $fw1;
            font-family: 'Roboto', sans-serif;
            line-height: $lh1 + 6;
            font-size: 24px;
            padding: 10px 0px 25px;
        }
        .about__text {
            margin-bottom: 30px;
            line-height: $lh1 + 6;
            letter-spacing: 0.1px;
            color: #d3d2d2; 
        }
        .about__btn {
            &:after {
                color: #000;
            }
        }
    }
}